# Desktop analysis and SQLite persistence require no cloud environment variables.
# Native code supplies the app-owned database path and selected repository
# authority privately to its bundled engine. Do not put them in this file.
# Optional build-only Node license override is documented in phase-02-desktop.md.
